[mysqld]
binlog_format=ROW
default-storage-engine=innodb
innodb_autoinc_lock_mode=2
bind-address={{ mariadb_bind_address }}

# Galera Provider Configuration
wsrep_on=ON
wsrep_provider=/usr/lib64/galera-4/libgalera_smm.so

# Galera Cluster Configuration
wsrep_cluster_name="{{ mariadb_galera_cluster_name }}"
wsrep_cluster_address="gcomm://{% for node in mariadb_galera_nodes %}{{ node }}{{ '' if loop.last else ',' }}{% endfor %}"

# Galera Synchronization Configuration
wsrep_sst_method=rsync

# Galera Node Configuration
wsrep_node_address="{{ mariadb_galera_node_address }}"
wsrep_node_name="{{ inventory_hostname }}"
